<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    	</div>
    	<div id="cnzz">
    	  <script src="http://s95.cnzz.com/z_stat.php?id=1253871447&web_id=1253871447" language="JavaScript"></script>
    	  <script type="text/javascript">
    	  	document.getElementById("cnzz").style.display="none";
    	  </script>
    	</div>
    </div>
  </div>
</footer>