<div class="alignleft">
  <% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> <%= config.author %>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <%= config.title %>
  <% } %>
</div>
<div id="cnzz">
  <script src="http://s95.cnzz.com/z_stat.php?id=1253871447&web_id=1253871447" language="JavaScript"></script>
  <script type="text/javascript">
  	document.getElementById("cnzz").style.display="none";
  </script>
</div>
<div class="clearfix"></div>